
<% layout('/layouts/boilerplate') -%>

<div class="row">
    <div class="col-8 offset-2">
     
        <br>
        
    <h3>Create New Listing</h3>

    <form method="post" action="/listings" novalidate class="needs-validation" >

        <div class="mb-3">
            <label for="title" class="form-label">Title</label>

            <input type="text" name="listing[title]"  class="form-control" placeholder="Add a title" required>

            <div class="valid-feedback">
                Title Looks good!
              </div>
              <div class="invalid-feedback">
                 Title should be valid!
              </div>
          

        </div>


         <div class="mb-3">
            <label for="description" class="form-label">Description</label>

            <textarea name="listing[description]" placeholder="write description" class="form-control" required ></textarea>   

            <div class="valid-feedback">
                Description Looks good!
              </div>
              <div class="invalid-feedback">
                Description should be valid!
              </div>
         </div>
     
       

         <div class="mb-3">
            <label for="image"class="form-label"> Image</label>

            <input type="text" name="listing[image]" class="form-control" placeholder="url"> 
           
            <div class="valid-feedback">
                Image looks good!
               </div>
               <div class="invalid-feedback">
                   Image is required!
               </div>
 
         </div>
        
        <div class="row">
            <div class="mb-3 col-md-4">
                <label for="price" class="form-label">Price</label>
    
                <input type="text" name="listing[price]" 
                class="form-control" placeholder="enter price" required>

                <div class="valid-feedback">
                    Price Looks good!
                   </div>
                   <div class="invalid-feedback">
                      Price should be valid!
                   </div>
     
             </div>
               
            
             <div class="mb-3 col-md-8">
                <label for="country" class="form-label">Country</label>

                 <input type="text" name="listing[country]" 
                 class="form-control" placeholder="enter country" required >

                 <div class="valid-feedback">
                    Country name Looks good!
                  </div>
                  <div class="invalid-feedback">
                    Country name should be valid!
                  </div>
              </div>
        </div> 

        
         
        

         <div class="mb-3"> 
            <label for="location" class="form-label">Location</label>

            <input type="text" name="listing[location]" 
            class="form-control" placeholder="enter location " required>

            <div class="valid-feedback">
                Location Looks good!
              </div>
              <div class="invalid-feedback">
                 Location should be valid!
              </div>
            </div>
        
        
           
       
        <br>
       
         
<button class="btn  btn-dark add-btn">Add</button>

         <br>
         <br>
    </form>
    
</div>
</div>
